body{
    font-family: 'Poppins', sans-serif;
    margin:0px;
}
h1{
    font-size: 50px;
}

.flexible-container1{
    display: flex;
    margin-bottom: 150px;
}
.a1{
    padding: 2%;
}
.a2{
    width: 70%;
    padding: 2%;
}
.a2 img{
    width: 500px;
}
.a3{
    color: orange;
}
.HIRE{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font: 700;
}
.top-banar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.a2n{
   
    padding: 2%;
}
.pic2{
    width: 500px;
}